body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #122b7c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #1dd736;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(231, 8, 8, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #686565;
    border-radius: 8px;
  }
  
  button {
    padding: 10px 15px;
    background: #3728a7;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0f0b08;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: #eee;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li button {
    background: #dc3545;
    padding: 5px 10px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  